{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}

 
    <div id="dashboard">
        <div class="box cpu">
            <div class="box-header">
                
            </div>
            <div class="box-content">
                <table class="table" border=0 >
                <thead> 
                
                <th col-span=2 > Cloudlet  </th>
                    <th col-span=2 > CPU </th>
                    <th col-span=2>  </th>
                    <th col-span=2> Memory   </th>
                    <th col-span=2>  </th>
                    <th col-span=2> Disk  </th>
                    
            <th col-span=2>  </th>                      
             
                </thead> 
                
                <tbody> 
                    <tr>
						  <td class="label-col" width=100px> ID </td>
						  <td class="label-col" width=100px>Load Average </td>
						  <td class="label-col" width=100px>Cores </td>
						  <td class="label-col" width=100px>Total</td>
						  <td class="label-col" width=100px>Free</td>
							  <td class="label-col" width=100px>Total</td>
						  <td class="label-col" width=100px>Free</td>
			            </tr> 
                    <tr> 
                        <td class="label-col" width=150px>{{current_node.get_id()}} </td>
                        <td width=100px style="word-spacing: 10px;">{{ load_avg[1]|round(2) }} </td>
                    
                        
                        <td class="iowait">{{ num_cpus }}</td>
                   
                        <td class="total">{{ memory.total|filesizeformat }}</td>
                        <td class="free">{{ memory.free|filesizeformat }}</td>
                            
                        {% for d in disks %}
                            
                            
                            
                        <td>{{ d.space_total|filesizeformat }}</td>
                        
                        <td>{{ d.space_free|filesizeformat }}</td>
                    
                        {% endfor %}
                            
                    </tr>
         
                    
			        
                    </tbody> 
                           
        {% endblock %}
